<html lang="en">
<head>
  <title>AccountVerificationSuccess</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center" style="color:red">Account is Successfully Verified And Activated</h1>
<div class="container" style="margin-left:30% color:blue">
<button style="margin-top:2%; margin-left:40%; color:green"><h1>Login To My Super Market App</h1></button>
<script type="text/javascript">
    window.location.href = "http://localhost:4200/login";
</script>
</div >
</body>
</html>

