
<section id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img class="head-img" src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Vegetables-PNG/Organic_Vegetables_PNG_Picture.png?m=1507172105" alt="" /></div>
            <div class="col-md-6 head-text">
                <h3 style="color:red">BEST QUALITY PRODUCTS</h3>
                <h1>Join the Organic Movement!</h1>
                <p>The best online grocery store in India. my super market is an online supermarket for all your daily needs. Online shopping now made easy with a wide range of fruits etc.</p>
                <button mat-raised-button color="primary"><i class="fas fa-cart-arrow-down"></i> Shop Now And Get Discounts</button>
            </div>
        </div>
    </div>
</section>
<h1 align="center">Welcome To My E-Grossary App</h1>


