<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img4.jpg"
                  alt="Sample photo"
                  class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase"><b style="color:red">Shop Add Category form</b></h3>
                  <form (ngSubmit)="registerCategory()" enctype="multipart/form-data">
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" name="name" [(ngModel)]=category.name/>
                    <label class="form-label" for="form3Example8">Enter Category Name To Be Register</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" name="description" [(ngModel)]=category.description/>
                    <label class="form-label" for="form3Example8">Enter Description of Registered Category</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="file" (change)="onFileChanged($event)">
                    <label style="margin-top:5%; color:red" class="form-label" for="form3Example8"><i><b>Upload Image Of Category</b></i></label>
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="reset" mat-raised-button color="primary" style="margin-right:25%">Reset all</button>
                    <button type="submit" mat-raised-button color="warn" style="margin-left:-1%" >Save Category</button>
                  </div>
                </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
