<div *ngIf="categoryList.length<=0">No category is added in this shop.</div>

<div class="div row">
    <div class="div col-md-12">
        <div *ngFor="let category of categoryList">
            <mat-card>
               
                    <mat-card-content style="margin-top:2%;">
                        <img src="{{category.picByte}}" style="max-height: 20%;max-width: 40%;">
                      </mat-card-content>
                    <mat-card-header><b>{{category.categoryName}}</b></mat-card-header>
                    <mat-card-content>
                        <i><p style="margin-left:2%;" align="justify">{{category.description}}</p></i>
                        <mat-card-actions>
                            <button style="margin-left:2%" (click)="redirectViewProducts()" mat-raised-button color="primary">View Products</button>
                        
                            <button mat-raised-button color="warn">bookmark category</button>
                        </mat-card-actions>
                    </mat-card-content>
                  
            </mat-card>
            
        </div>
    </div>
</div>




